{#
/**
 * @file
 * Profile chess AI block.
 */
#}
	{{ attach_library('kingfish/cbAI') }}
	<div>
		<i id="getAIResults" class="btn btn-primary button fa fa-refresh" title="Çözümleri göster">Çözümleri göster</i>
	</div>
	<div id="chessboardAIResults"></div>